body {
  overflow: hidden;
}

.chunk {
  position: absolute;
}

.tile {
  position: absolute;
  width: 48px;
  height: 48px;
}

.hud {
  position: fixed;
  width: 50%;
  padding: 10px;
}

.bar {
  margin: 10px 0;
  width: 100%;
  border: 1px solid white;
}

.bar>div {
  height: 100%;
  padding: 1px 3px;
}

.collectibleCounter {
  font-weight: bold;
  margin-top: -20px;
}

.collectibleCounter>img{
  transform: translateY(10px);
}

.collectibleCounter>div {
  display: inline-block;
  width: 48px;
  height: 48px;
  transform: translate(10px, 12px);
}


.youDead {
  position: fixed;
  width: 100%;
  text-align: center;
  text-shadow: 5px 5px 0px black;
}

.youDead>h1 {
  color: red;
  font-size: 10em;
}

.youDead>h2 {
  color: #AFF;
  font-size: 3em;
  margin-top: -120px;
}

.version {
  position: fixed;
  font-size: 0.7em;
  z-index: 10;
  right: 0;
  top: 0;
}

.control {
  position: fixed;
  width: 10em;
  height: 10em;
  background: rgba(255,255,255,0.1);
  z-index: 1000;
}

#up {
  bottom: 10.1em;
  left: 10.1em;
}
#down {
  bottom: 0;
  left: 10.1em;
}
#left {
  bottom: 0;
  left: 0;
}
#right {
  bottom: 0;
  left: 20.2em;
}

.controlCircle {
  position: absolute;
  width: 2in;
  height: 2in;
  background: rgba(255,255,255,0.1);
  bottom: 0;
  left: 0;
}

.show .tile {
  outline: 1px solid lime;
}

.dialog {
  font-size: 2em;
  position: fixed;
  top: 70%;
  width: 100%;
  text-align: center;
}

.dialog .dialogContainer {
  text-align: left;
  display: inline-block;
  padding: 30px;
  background: rgb(0,0,0,0.8);
  max-width: 50%;
}

.dialog li.selected {
  color: lime
}