nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 32px;
    width: 100%;
    padding: 5px 20px;
    z-index: 10;
}

nav a {
    margin: 0 8px;
}

nav a.active {
    background: blue;
    box-shadow: 0 0 5px white;
}

.worldEditorContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.toolContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.tileTypeEditorContainer {
    left: 0;
    bottom: 70px;
    width: 300px;
}

.gameConfigContainer {
    top: 32px;
    left: 50px;
    width: 325px;
}

.hereNowContainer {
    top: 32px;
    right: 0;
}

.instructionsContainer {
    top: 32px;
    left: 100px;
    width: 300px;
}

.myWorldsContainer {
    top: 50px;
    width: 50%;
    left: 25%;
}

.statsContainer {
    top: 32px;
    left: 400px;
}