.todos {
  margin: 5px 0;
}

.todos textarea,
.todos .done {
  display: inline-block;
  border: none;
  color: white;
  width: 200px;
  font-size: inherit;
  padding: 2px;
  margin: 1px;
}

.todos textarea {
  background-color: rgba(0, 0, 0, 0.5);
}

.todos .done {
  text-decoration: line-through;
  opacity: 0.5;
}