.world {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.world .tile {
  border-radius: 3px;
  position: absolute;
  width: var(--scale);
  height: var(--scale);
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.1);
}

.world .ghost {
  transition: all 0.1s;
  opacity: 0.5;
  outline: 2px dashed white;
}

.cursorView {
  pointer-events: none;
  outline: 2px dotted magenta;
  position: absolute;
  opacity: 0.5;
  border-radius: 3px;
  background: rgba(255, 0, 255, 0.1);
}
.cursorView span {
  font-size: 0.8em;
  background: magenta;
  position: relative;
  top: -5px;
  left: -3px;
  padding: 0 3px;
}

.mouseCursor {
  pointer-events: none;
  position: absolute;
  opacity: 0.5;
}
.mouseCursor span {
  font-size: 0.8em;
}