* {
  box-sizing: border-box;
}

body {
  color: white;
  margin: 0;
  font-family: sans-serif;
  background-image: url("https://i.ibb.co/ZLjf3Jb/imgonline-com-ua-Texture-Seamless-ef-Gzuxvyq-GO67.jpg");
  background-repeat: repeat;
}

button,
a {
  background: #444;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 2px 5px;
  box-shadow: 1px 1px 5px black;
  margin: 3px 0;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9em;
  user-select: none;
}

button:hover, a:hover {
  filter:brightness(150%)
}

textarea {
  font: inherit;
}

table td {padding: 0 5px}
th {text-align: left}